# env
.env

# MacOS
.DS_Store

# IDE
.idea/
.vscode/

# private local mise config
.mise.local.toml

# project-specific local nvim settings
.nvim/
.nvim.lua
.nvimrc
.exrc

# temporary files or directories
temp/
temp.*
*.temp.*
*.temp
